#tokenadd-content {
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#txt-token-add-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30vw;
  margin-bottom: 20px;
}

#save-button-container {
  margin-top: 20px;
}

@media (max-width: 900px) {
  #tokenadd-content {
    width: 60vw;
  }
  
  #txt-token-add-container {
    width: 60vw;
  }
}
